<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
	
	<property name="DEV_HOME" value="../logs" />
	
	<appender name="FILE-AUDIT"	class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${DEV_HOME}/debug.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</Pattern>
		</encoder>

		<!-- roll over POLICY FOR daily -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${DEV_HOME}/debug.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy	class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>25MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} - %logger{36}.%M - %msg%n</pattern>
        </encoder>
    </appender>

	<logger name="com.sp.mehta" level="info" additivity="false">
		<!-- <appender-ref ref="FILE-AUDIT" /> -->
		<appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="logging.level.org.springframework.web" level="error" additivity="false">
		<!-- <appender-ref ref="FILE-AUDIT" /> -->
		<appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="logging.level.org.hibernate" level="error" additivity="false">
		<!-- <appender-ref ref="FILE-AUDIT" /> -->
		<appender-ref ref="STDOUT" />
	</logger>

	<root level="warn" additivity="false">
		<!-- <appender-ref ref="FILE-AUDIT" /> -->
		<appender-ref ref="STDOUT" />
	</root>
	
</configuration>